results/
results.zip
results_*/
.env
.DS_Store
config/
!hetsched/config/
csv_exports/
**/key.json
**/powertrace.csv
logs/

__pycache__/

analysis/figures/**/*.png
analysis/figures/**/*.svg
analysis/results_k8s/**/*.csv
analysis/results_k8s/**/*.json
analysis/results_k8s/**/*.jsonl
analysis/tables/**/*.tex

# analysis/
# jupyter/*
# !**.ipynb

bin/
etc/
lib/
lib64/
lib64
fabric_python/include/
fabric_python/share/
.ssh/
share/

settings.json
temp-commands.sh
