results/
results.zip
results_*/
.env
.DS_Store
config/
csv_exports/
**/key.json
**/powertrace.csv
logs/

# analysis/
# jupyter/*
# !**.ipynb

bin/
etc/
lib/
lib64/
lib64
fabric_python/include/
fabric_python/share/
.ssh/
share/

thesis-overleaf/


settings.json